extends layout.pug
block content
  #profile
    h1#title 自己紹介
    #hobby.profile_item
      h2.subtitle 趣味
      .hobby_each
        h3 折り紙
        ul
          li.hobby_info 高校では折り紙研究部に所属
          li.hobby_info
            | 浪人時代に
            a(href='https://goo.gl/5dM954' target='_blank') ペーパークラフトでサクラダファミリア
            | を作成
          li.hobby_info 現在は、折り紙でtech系のロゴマークを作るのにはまっている  